<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css"></head>
</head>
<body>
    <h1>Here's a your Post in Detail</h1>
    <div class="post">
        <h5 class="id">Post Id : <%= post.id %></h5>
        <h3 class="user">@<%= post.username %></h3>
        <h4 class="content">@<%= post.content %></h4>
    </div>
</body>
</html>